{{- $entries := slice -}}
{{- range .RegularPages.ByDate.Reverse -}}
  {{- if partial "is-indexed.html" . -}}
    {{- $date := "" -}}
    {{- if not .Date.IsZero }}{{ $date = .Date.Format "2006-01-02" }}{{ end -}}
    {{- $entries = $entries | append (dict "id" .RelPermalink "url" .RelPermalink "title" .Title "summary" (.Description | default (.Summary | plainify) | htmlUnescape) "content" (.Plain | htmlUnescape) "language" (partial "page-language.html" .) "section" .Section "date" $date "tags" (.Params.tags | default (slice))) -}}
  {{- end -}}
{{- end -}}
{{- return $entries -}}
